*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../img/bg.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    margin-bottom:5%;
    color: #fff;
    -webkit-animation: neon5 2s ease-in-out infinite alternate;
    -moz-animation: neon5 2s ease-in-out infinite alternate;
    animation: neon5 2s ease-in-out infinite alternate;
}

@-webkit-keyframes neon5 {
    from {
        text-shadow: 0 0 20px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FF9900,
        0 0 70px  #FF9900,
        0 0 80px  #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
    }
}
@-moz-keyframes neon5 {
    from {
        text-shadow: 0 0 20px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FF9900,
        0 0 70px  #FF9900,
        0 0 80px  #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
    }
}


@keyframes neon5 {
    from {
        text-shadow: 0 0 20px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FF9900,
        0 0 70px  #FF9900,
        0 0 80px  #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
    }
}