* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-button-next {
    top: auto;
    bottom: 5%;
    right: auto;
    left: 50%;
    margin-left: -13.5px;
    transform: rotateZ(90deg);
}

/*自定义*/

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.p1 {
    background: url("../img/bj.png");
    height: 100%;
    position: relative;
}

.p1 .header img {
    position: absolute;
}

.p1 .header img:nth-of-type(1) {
    width: 34px;
    top: 128px;
    left: 50px;
}

.p1 .header img:nth-of-type(2) {
    width: 65px;
    top: 90px;
    right: 35px;
}

.p1 .header img:nth-of-type(3) {
    width: 55px;
    bottom: 185px;
    left: 25px;
}

.p1 .header img:nth-of-type(4) {
    width: 48px;
    bottom: 210px;
    right: 50px;
}

.p1 .header img:nth-of-type(5) {
    width: 70%;
    top: 160px;
    left: 15%;
}

.main {
    position: absolute;
    top: 30%;
}

.main img:nth-of-type(1) {
    width: 50%;
}

.main img:nth-of-type(2) {
    width: 80%;
    margin-bottom: 20px;
}

.main .img9 {
    background: url("../img/9.png");
    background-size: contain;
    width: 207px;
    height: 24px;
    font-weight: bold;
    line-height: 25px;
    margin: auto;
}

.footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer p:nth-of-type(2) {
    margin-bottom: 45px;
}

.footer p:nth-of-type(3) {
    height: 70px;
}

.footer img {
    position: absolute;
    height: 70px;
}

.footer img:nth-of-type(1) {
    left: 0;
}

.footer img:nth-of-type(2) {
    left: -95px;
}

